.nav{
    position: fixed;
    top: 0;
    left: 0;
    background:linear-gradient(to right, rgb(0, 0, 0),rgba(0, 0, 0,0.9),rgba(0, 0, 0, 0.6),rgba(0, 0, 0,0.4),rgba(0, 0, 0,0.2), rgba(255, 255, 255, 0));
    width:40vw;
    height:100vh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    color: rgb(229, 229, 229);
    padding: 40px 0 40px 70px; 
    display: none;
    transition-property: width;
            transition-duration: 100s;
            
            transition-delay: 1s;
            transition-timing-function:cubic-bezier(0.39, 0.58, 0.57, 1);
            font-size: 28px;
}
.menuProfile{
    display: flex;
    gap:8px;
    align-items: center;
}
.navItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.navSettings{
    display: flex;
    flex-direction: column;
    
   
}