

.firstScroll{
    width: 100%;
    height: 620px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.firstScroll::-webkit-scrollbar {
    display: none;
}
.secondScroll{
    width: 100%;
    height: 360px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.secondScroll::-webkit-scrollbar {
    display: none;
}
.bah1{
  margin: 0px;
  font-size: 40px;
  margin-bottom: 10px;
}
.gradient{
    height: 118px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(28, 30, 31, 0.61), rgb(13, 14, 14));
  }
  .first {
    display: flex;
    width: 8200px;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 10px;
  
  }
  .second {
    display: flex;
    width: 12200px;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 10px;
  }
  .third {
    margin-top: 10px;
    display: flex;
    width: 9000px;
    flex-wrap: nowrap;
    gap: 10px;
  }
  
  .movieBanner {
    background-size: cover;
    background-position-x: center; 
    position: relative;
    width: 100%;

    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .movieBanner:after{
    content:'';
    width: 40%;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, black,rgba(0, 0, 0, 0.967),rgba(0, 0, 0, 0.811),rgba(0, 0, 0, 0.504), rgba(0, 0, 0, 0) );
    
  }
  .bannertext{
    width:300px;
    padding: 20px;
    z-index: 1;
  }
  .btnDiv{
    display:flex;
    gap:10px
  }
  button{
    background-color:rgba(51,51,51,.8);
    border:none;
    padding: 10px;
    width:100px;
    border-radius: 5px;
    color:white
  }
  button:hover{
    transform: scale(1.1);
    background-color:rgba(255, 0, 0, 0.922);
  }
  .h2{
    padding: 10px 0 0 30px;
  }
  .movie:hover{
    transform: scale(1.1);
  }
  .movie1:hover{
    transform: scale(1.09);
  }

.popup {
    width: 88%;
    height: 80%;
    position: fixed;
    top: 100px;
    left: 100px;
    background-size: cover;
    background-position: center; 
    z-index: 2;
    display: none;
    padding: 20px;
    flex-direction: row;
    align-items: center;
            transition-property: width,height;
            transition-duration: 7s;
            transition-timing-function: ease-in-out;
            transition-delay: 1s;
   
}
.popup::after{
  content:'';
  width: 40%;
    height: 80%;
  position: fixed;
    top: 100px;
    left: 100px;
  background: linear-gradient(to right, black,rgba(0, 0, 0, 0.967),rgba(0, 0, 0, 0.811),rgba(0, 0, 0, 0.504), rgba(0, 0, 0, 0) );
  z-index: -1;
}
.popTitle{
  font-size: 30px;
}
.popupImg{
  display: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  width: 80%;
  height:100%;
}
.movieTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: auto;
    text-align: left;
    color: white;
    z-index: 2;
    /* background: linear-gradient(to right black, rgba(0, 0, 0, 0) ); */
}
.exitPopup{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 110px;
  right: 110px;
  background-color: red;
  color: #e8e6e3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  

}