
.first {
    display: flex;
    width: 6000px;
    height: 400px;
    flex-wrap: nowrap;
    gap: 10px;
  }
  .movie {
    background-color: yellow;
    width: 400px;
    height: 600px;
    background-size: cover;
  }
  