.movie{
    height: 100px;
    width: 300px;
    background-size: cover;
}
.first{
    display: flex;
    gap:10px;
    overflow-x: scroll;
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin: 0auto;
}