
.first{
    display: flex;
    gap:10px;
    width: 2000px;
    justify-content: center;
    align-items: center;
    overflow: visible;
    overflow-x: scroll;
}
.movie{
    height: 40vh;
    width: 500px;
    background-size: cover;
    background-color: yellow;
}