.menuBar{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 10px 20px;
    z-index: 3;
    font-size: 28px;
    
}
.mm{
    color: #e8e6e3
}
.menuBarFlex{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navLogo{
    width: 120px;
    height: 60px;

}
.navAvatar{
    width: 60px;
    height: 60px;
}